//====================
// import
// ===================
@import ("smart-grid.styl");
@import ("settings.styl")
//====================
// code
// ===================

#container
	max-width 1366px
	margin 0 auto !important
	min-height 100vh

header
	min-height 720px
	background-color: $blue

main
	min-height 100vh
	background-color: #FFF


.firstHeader
	min-height 100px
	display: flex
	align-items center
	&-logo
		text-align center
		col-2()
		font(24px,"PD BlackItalic",900,#fff)
	&-sign
		col-2()
		text-transform: uppercase
		a
			font(12px,Montserrat-Regular,400,#fff)
			margin 0 15px
	&-menu
		display inline-flex
		justify-content center
		col-9()
		margin 0
		padding 0
		text-transform: uppercase
		.hasMenu
			position relative
			&:after
				content: "\003E"
				position absolute
				font(12px,Montserrat-Regular,400,#fff)
				top 3px
				right 3px
				transform rotate(90deg)
			.subMenu
				position absolute
				display none
				left -16px
				padding 0
				li
					padding 10px
		a
			font(12px,Montserrat-Regular,400,#fff)
			margin 0 15px

.secondHeader
	position relative
	height: 620px
	text-align center
	// overflow hidden
	&-fashion
		position absolute
		font(150px,"PD Bold",700,#0021c4)
		text-transform: uppercase
		left 23%
		top 25%
	&-img
		position absolute
		top -50px
		left 28%
		z-index 300
	&-text
		font(72px,"PD Bold",700,#fff)
		line-height 82px
		z-index 310
		position absolute
		left 33%
		top 45%
	&-button
		width 200px
		height 50px
		border-radius 25px
		background-color: $blue
		text-transform: uppercase
		line-height 50px
		font(18px,Montserrat-Regular,400,#fff)
		cursor pointer
		letter-spacing .1rem
		position absolute
		top 63%
		left 40%
		z-index: 313
	&-feature
		display flex
		min-width 1280px
		min-height 150px
		background-color: #FFF
		position absolute
		z-index: 314
		top 90%
		left 45px
		border: 1px solid #d5d5d6
		border-radius 5px
		.box
			col-4()
			display flex
			justify-content center
			align-items center
			border-left 1px solid #d3d3d3
			&-text
				h3
					margin 0
					margin-left: 20px
					font(18px,Montserrat-Bold,700,#000)
				p
					margin 5px 0
					text-align left
					margin-left 20px
					font(14px,Montserrat-Regular,300,#999999)