//====================
// import
// ===================
@import ("smart-grid.styl");
@import ("settings.styl")
//====================
// code
// ===================

#container
	max-width 1366px
	margin 0 auto !important
	min-height 100vh

header
	min-height 720px
	background-color: $beige

main
	// min-height 100vh
	background-color: #FFF


.firstHeader
	min-height 100px
	position: fixed
	z-index 535
	max-width 1366px
	width 100%
	display: flex
	align-items center
	background-color: #000
	.dropdown
		vertical-align middle
		position: relative
		top 2px
		display none
		xs(display, block)
		.button
			background-color: transparent
			outline none
			font(12px,Montserrat-Regular,400,#fff)
			text-transform: uppercase
			position relative
			&:active
				border: none
				box-shadow none
			&:focus
				border none
				box-shadow none
	&-logo
		text-align center
		col-2()
		col-sm-4()
		col-xs-5()
		col-xxs-5()
		xs(text-align, left)
		xs(padding-left, 35px)
		xxs(padding-left, 15px)
		a
			font(24px,"PD BlackItalic",900,#fff)
	&-sign
		col-2()
		col-lg-3()
		col-sm-4()
		col-xs-5()
		col-xxs-9()
		flex-wrap nowrap
		text-align center
		text-transform: uppercase
		a
			font(12px,Montserrat-Regular,400,#fff)
			margin 0 10px
			&:hover
				color red
	&-menu
		display inline-flex
		justify-content center
		col-9()
		col-lg-8()
		xs(display, none)
		flex-wrap wrap
		margin 0
		padding 0
		text-transform: uppercase
		li
			a
				&:hover
					color red
		.hasMenu
			position relative
			z-index: 1392
			.fa
				position: absolute
				top 3px
				right -2px
			.subMenu
				position absolute
				background-color: #FFF
				display none
				top 35px
				left -5px
				padding 0
				transition .3s
				li
					padding 5px 0
					border-bottom 1px solid #d3d3d3
					&:hover
						transition .3s
						background-color: #000
						a
							color #fff
					a
						color #454547
		a
			font(12px,Montserrat-Regular,400,#fff)
			margin 0 15px

.activeMenu
	display block !important
	position: relative
	z-index 553

.secondHeader
	display flex
	justify-content center
	align-items center
	flex-flow column wrap
	padding-top 100px
	#carouselExampleControls
		height: 670px
	.carousel-control-next
		right: -90px
		sm(right,0)
	.carousel-control-prev
		left: -100px
		sm(left,0)
	.carousel-item
		width: 800px
		md(width, 600px)
		sm(width, 100%)
		img
			margin 0 auto
			max-width 100%
		.tagName
			font(150px,"PD Bold",700,#3F3F3F)
			md(font-size, 110px)
			xs(display, none)
			position absolute
			text-transform: uppercase
			z-index: -5
			left 9%
			top 20%
		.button
			position absolute
			width 140px
			height: 40px
			top 70%
			left: 40%
			xs(left, 35%)
			xxs(left, 30%)
			background-color: #373737
			border none
			border-radius 25px
			font(14px,PT Sans,400,#fff)
			text-transform uppercase
			line-height 40px
			text-align center
			cursor pointer
			transition .3s
			letter-spacing .15 rem
			&:hover
				background-color: $blue - 15%
				color: #fff - 15%

	&-features
		row-flex()
		col-12()
		min-height 150px
		background-color: #FFF
		overflow hidden
		z-index: 333
		border: 1px solid #d5d5d6;
		border-radius 5px
		&_box
			col-3()
			col-md-6()
			col-xs-12()
			min-height 130px
			xxs(border-bottom, 1px solid #d3d3d3)
			sm(margin, 15px)
			margin: 0 15px
			display flex
			align-items center
			justify-content center
			cursor pointer
			transition .3s
			&:hover
				transform scale(1.1)
				box-shadow: 0px 0px 90px 0px rgba(0,0,0,0.75);
			for x in 1 2 3 4
				&:nth-child({x})
					xs(border-bottom, 1px solid #d3d3d3)
			for x in 1 2
				&:nth-child({x})
					md(border-bottom, 1px solid #d3d3d3)
			h2
				font(18px,Montserrat-Regular,400,#000000)
			&-text
				margin-left 20px


.shopWrapper
	max-width 1280px
	row-flex()
	margin 0 auto
	padding-top 30px
	.buttonLoad
		width 150px
		height 40px
		background-color: #373737
		border-radius 25px
		font(16px,PT Sans,400,#fff)
		text-transform: uppercase
		text-align center
		line-height 40px
		cursor pointer
		margin 15px auto 25px auto
	&-item
		cursor: pointer
		display flex
		flex-flow column wrap
		align-items center
		justify-content center
		col-3()
		col-md-6()
		col-xs-12()
		height 290px
		border 1px solid #d3d3d3
		margin 15px
		transition .3s;
		&:hover
			transform scale(1.1)
			box-shadow: 0px 0px 70px 0px rgba(0,0,0,0.75);
		.info
			align-self flex-start
			margin 20px 0 0 30px
			h3
				font(18px,"PD Regular",400,#232323)
				margin-bottom 10px
			p
				display inline-block
				&:nth-child(2)
					margin-right 15px
					text-decoration:line-through
					font(14px,Montserrat-Regular,400,#999999)
				&:last-child
					font(14px,Montserrat-Regular,400,$blue)
			
	.product
		background-color: #000
		border none
		text-transform: uppercase
		h3
			font(18px,Montserrat-Bold,700,#fff)
			margin-top 35px
		p
			font(14px,Montserrat-Regular,400,#fff)
			margin-top 50px
			position relative
			&:after
				content "\2192"
				position absolute
				font-size: 14px
				top -1px
				right -15px

.event
	min-height 400px
	background-image: url('../_img/event.png')
	display flex
	flex-flow column
	align-items center
	justify-content center
	text-align center
	&-h2
		text-transform uppercase
		font(16px,Montserrat-Regular,400,#fff)
	&-h1
		font(36px,"PD Regular",400,#fff)
		line-height 36px
		margin 20px 0
	&-date
		font(16px,Montserrat-Regular,400,#fff)


.partners
	min-height 230px
	wrapper()
	row-flex()
	align-items center

#carouselExampleSlidesOnly
	width 100%
	.carousel-item
		justify-content space-between
		align-items center
		flex-wrap wrap
		img
			col-sm-6()
			margin 20px 10px
			col-xxs-12()

.timers
	min-height 200px
	background-color: $beige
	display flex
	justify-content center
	align-items center
	.incremental-counter
		display flex
		font(70px,Montserrat-Bold,#900,#fff)

.form
	min-height 300px
	display flex
	justify-content center
	align-items center
	flex-flow column wrap
	#form
		display none
		margin 15px 0
		border 1px solid #454547
		padding 30px
		border-radius 15px
		box-shadow: 0px 0px 32px 1px rgba(0,0,0,1);
	.hidden
		display none !important

footer
	min-height 240px
	background-color: #363637
	.footer
		display flex
		align-items center
		max-width 1200px
		min-height inherit
		margin 0 auto
		background-color: inherit
		sm(flex-flow, column wrap)
		&-firstBox
			display flex
			flex-flow column wrap
			justify-content center
			align-items center
			col-3()
			height 170px
			col-sm-12()
			&_logo
				font(24px,"PD BlackItalic",#900,#fff)
				height calc(240px - 150px)
				margin-left 20px
				xs(font-size, 30px)
			&_socials
				padding 0
				display inline-flex
				margin 0
				a
					margin 0 10px
					font-size: 14px
					xs(font-size, 20px)
					color #999
					transition 0.3s
					&:hover
						color $blue + 20%
		&-secondBox
			col-7()
			col-sm-12()
			display flex
			flex-flow column wrap
			align-items center
			height 170px
			#sub
				text-align center
			&_links
				display inline-flex
				flex-wrap wrap
				padding 0
				margin 0
			for x in 2 3 4 5
				li:nth-child({x})
					margin 0 10px
					xxs(margin, 0 5px)
				li:first-child
					margin-right: 10px
					xxs(margin-right, 5px)
				a
					text-transform uppercase
					font(12px,Montserrat-Regular,400,#fff)
			&_subtext
				margin-top 60px
				text-transform uppercase
				font(12px,Montserrat-Regular,400,#fff)
				letter-spacing .1rem
			input[type='email']
				margin-top 20px
				max-width 320px
				height 40px
				padding-left 20px
				
			.myButton
				max-width 140px
				min-width 100px
				height 40px
				position relative
				background-color: #FFF
				border none
				cursor pointer
				top -1px
				font(12px,Montserrat-Regular,400,#363637)
				margin-left 20px
				xxs(width, 300px)
				xxs(margin-top, 20px)

.footer-thirdBox
	height 170px
	col-3()
	col-sm-12()
	text-transform uppercase
	font(12px,Montserrat-Regular,400,#fff)
	display: flex
	flex-flow column wrap
	align-items center
	xs(margin-top, 20px)
	&_address
		margin-top 35px
	&_contacts
		margin-top 5px
		xxs(margin-top, 30px)

.scrollTop
	width 40px
	height 40px
	background-color: #f0f0f0
	md(border, 1px solid rgba(0, 0, 0, .75))
	md(right, 20px)
	position fixed
	right 30px
	bottom -70px
	cursor pointer
	border-radius 10px
	transition .4s;
	opacity: 0
	&:after
		content '\2191'
		position absolute
		top 0px
		left 14px
		font-size: 24px
	&:hover
		opacity 1
		&:after
			color: #000

.showButton
	bottom 30px
	opacity 0.3

.modal
	z-index: 335
	.content
		text-align center
		img
			margin 15px auto
		h3
		p
			margin 20px