//====================
// import
// ===================
@import ("smart-grid.styl");
@import ("settings.styl")
//====================
// code
// ===================

#container
	max-width 1366px
	margin 0 auto !important
	min-height 100vh

header
	min-height 720px
	background-color: $blue

main
	min-height 100vh
	background-color: #FFF


.firstHeader
	min-height 100px
	display: flex
	align-items center
	&-logo
		text-align center
		col-2()
		font(24px,"PD BlackItalic",900,#fff)
	&-sign
		col-2()
		text-transform: uppercase
		a
			font(12px,Montserrat-Regular,400,#fff)
			margin 0 15px
	&-menu
		display inline-flex
		justify-content center
		col-9()
		margin 0
		padding 0
		text-transform: uppercase
		.hasMenu
			position relative
			&:after
				content: "\003E"
				position absolute
				font(12px,Montserrat-Regular,400,#fff)
				top 3px
				right 3px
				transform rotate(90deg)
			.subMenu
				position absolute
				display none
				left -16px
				padding 0
				li
					padding 10px
		a
			font(12px,Montserrat-Regular,400,#fff)
			margin 0 15px

.secondHeader
	position relative
	height: 620px
	text-align center
	&-fashion
		position absolute
		font(150px,"PD Bold",700,#0021c4)
		text-transform: uppercase
		left 23%
		top 18%
	&-img
		position absolute
		top -50px
		left 28%
		z-index 300
	&-text
		font(72px,"PD Bold",700,#fff)
		line-height 82px
		z-index 310
		position absolute
		left 33%
		top 45%
	&-button
		width 200px
		height 50px
		border-radius 25px
		background-color: $blue
		text-transform: uppercase
		line-height 50px
		font(18px,Montserrat-Regular,400,#fff)
		cursor pointer
		letter-spacing .1rem
		position absolute
		top 63%
		left 40%
		z-index: 313
	&-feature
		display flex
		min-width 1280px
		min-height 150px
		background-color: #FFF
		position absolute
		z-index: 314
		top 90%
		left 45px
		border: 1px solid #d5d5d6
		border-radius 5px
		.box
			col-4()
			display flex
			justify-content center
			align-items center
			border-left 1px solid #d3d3d3
			&-text
				h3
					margin-left: 20px
					font(18px,Montserrat-Bold,700,#000)
				p
					margin 5px 0
					text-align left
					margin-left 20px
					font(14px,Montserrat-Regular,300,#999999)



.shopWrapper
	max-width 1280px
	// min-height 1180px
	row-flex()
	margin 0 auto
	padding-top 110px
	.buttonLoad
		width 150px
		height 40px
		background-color: $blue
		border-radius 25px
		font(16px,PT Sans,400,#fff)
		text-transform: uppercase
		text-align center
		line-height 40px
		cursor pointer
		margin 15px auto 25px auto
	&-item
		cursor: pointer
		display flex
		flex-flow column wrap
		align-items center
		justify-content center
		col-3()
		height 290px
		border 1px solid #d3d3d3
		margin 15px
		transition .3s;
		&:hover
			transform scale(1.1)
			box-shadow: 0px 0px 70px 0px rgba(0,0,0,0.75);
		.info
			align-self flex-start
			margin 20px 0 0 30px
			h3
				font(18px,"PD Regular",400,#232323)
				margin-bottom 10px
			p
				display inline-block
				&:nth-child(2)
					margin-right 15px
					text-decoration:line-through
					font(14px,Montserrat-Regular,400,#999999)
				&:last-child
					font(14px,Montserrat-Regular,400,$blue)
			
	.product
		background-color: #000
		border none
		text-transform: uppercase
		h3
			font(18px,Montserrat-Bold,700,#fff)
			margin-top 35px
		p
			font(14px,Montserrat-Regular,400,#fff)
			margin-top 50px
			position relative
			&:after
				content "\2192"
				position absolute
				font-size: 14px
				top -1px
				right -15px

.event
	min-height 400px
	background-image: url('../_img/event.png')
	display flex
	flex-flow column
	align-items center
	justify-content center
	&-h2
		text-transform uppercase
		font(16px,Montserrat-Regular,400,#fff)
	&-h1
		font(36px,"PD Regular",400,#fff)
		line-height 36px
		margin 20px 0
	&-date
		font(16px,Montserrat-Regular,400,#fff)


.partners
	min-height 230px
	wrapper()
	row-flex()
	align-items center

#carouselExampleSlidesOnly
	width 100%
	.carousel-item
		justify-content space-between
		align-items center

footer
	min-height 240px
	background-color: #363637
	.footer
		display flex
		align-items center
		max-width 1100px
		min-height inherit
		margin 0 auto
		&-firstBox
			col-3()
			height 170px
			&_logo
				font(24px,"PD BlackItalic",#900,#fff)
				height calc(240px - 150px)
				margin-left 20px
			&_socials
				padding 0
				display inline-flex
				margin 0
				a
					margin 0 10px
					font-size: 14px
					color #999
		&-secondBox
			col-7()
			height 170px
			&_links
				display inline-flex
				padding 0
				margin 0
			for x in 2 3 4 5
				li:nth-child({x})
					margin 0 10px
				li:first-child
					margin-right: 10px
				a
					text-transform uppercase
					font(12px,Montserrat-Regular,400,#fff)
			&_subtext
				margin-top 60px
				text-transform uppercase
				font(12px,Montserrat-Regular,400,#fff)
				letter-spacing .1rem
			input[type='email']
				margin-top 20px
				width 320px
				height 40px
				padding-left 20px
			.myButton
				width 140px
				height 40px
				position relative
				background-color: #FFF
				border none
				cursor pointer
				top -1px
				font(12px,Montserrat-Regular,400,#363637)
				margin-left 20px

.footer-thirdBox
	height 170px
	col-3()
	text-transform uppercase
	font(12px,Montserrat-Regular,400,#fff)
	&_address
		margin-top 35px
	&_contacts
		margin-top 5px